// App colors
$yellow-green: #8dc63f;
$onyx: #373737;
$lotion: #fcfcfc;
$white: #fff;

// App variables
$base-font: 'Arial', 'Helvetica', sans-serif;
$base-size: 4px;
$cols: 12;
$media-breakpoints: (
  '': 0,
  small: 576px,
  medium: 768px,
  large: 992px,
  xlarge: 1200px,
);
