<div class="category position-relative">
  <img [src]="game.image" class="category__image" [alt]="game.name" />
  <p class="category__jackpot position-absolute" *ngIf="game.jackpot">
    Jackpot: {{ game.jackpot }}
  </p>
  <div class="category__overlay position-absolute text-center">
    <span class="category__overlay-play"> &#9658; </span>
  </div>
  <!--
  TODO: make separate component for ribbon
  Rendering ribbon logic
   -->
  <div *ngIf="game.showRibbon" class="ribbon position-absolute">
    <ng-container *ngFor="let category of game.categories">
      <span *ngIf="category === 'new'">New</span>
    </ng-container>
  </div>
</div>
