@use 'bootstrap/scss/bootstrap';
@use 'assets/scss/vars';
@use 'assets/scss/grid';
@use 'assets/scss/typography';
@use 'assets/scss/utils';
@use 'assets/scss/buttons';

html,
body {
  font-size: vars.$base-size * 3;
}

body {
  font-weight: 400;
  font-family: vars.$base-font;
}

a {
  text-decoration: none;
}
